@import '../../styles/common/colors';

.button {
  background-color: $primary-button;
  border: none;
  border-radius: 30px;
  color: $white;
  font-weight: bold;
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0.75rem;
}

.delete {
  background: $delete-button;
}
