.button {
  background-color: #1261a6;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0.75rem;
}

.delete {
  background: #f2522e;
}
