.button {
  background-color: #3c665e;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0.75rem;
}

.delete {
  background: #3c3938;
}
