#todo-item {
  //align-items: center;
  background: #fbf7f5;
  border-bottom: 1px solid #404756;
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  margin-bottom: 10px;
  //border-bottom: 1px solid #000;
}

#todo-input {
  background-color: #fff;
  border: 1px solid #404756;
}
#todo-text {
  color: #000;
  flex-grow: 2;
  font-size: 1.5rem;
  margin-bottom: 0;
  &.completed {
    color: #c4c0be;
    text-decoration: line-through;
  }
}

.todo-text {
  padding-left: 0.5rem;
}

input#checkbox {
  width: 2.25rem;
  height: 2.25rem;
}

.edit-delete-container {
  display: flex;
  justify-content: flex-end;
}
