@import "src/styles/components/_button";

#todo-item {
  display: flex;
  justify-content: space-around;
}

#todo-text {
  color: red;
  flex-grow: 2;
  font-size: 1.5rem;
  &.completed {
    color: green;
    text-decoration: line-through;
  }
}

input#checkbox {
  width: 1.5rem;
  height: 1.5rem;
}

