@import "../../styles/common/mixins";

#todo-item {
  //align-items: center;
  background: #fbf7f5;
  @include my-box-shadow;
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  margin-bottom: 10px;
  //border-bottom: 1px solid #000;
}

#todo-text {
  color: red;
  flex-grow: 2;
  font-size: 1.5rem;
  margin-bottom: 0;
  &.completed {
    color: green;
    text-decoration: line-through;
  }
}

input#checkbox {
  width: 1.5rem;
  height: 1.5rem;
}

.edit-delete-container {
  display: flex;
  justify-content: flex-end;
}

