#app {
  padding: 5px;
}
.todo-form {
  background: #fbf7f5;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
  padding: 5px;
}

h1 {
  font-size: 7rem;
  font-weight: 200;
  letter-spacing: 5px;
  margin: 5px;
  text-align: center;
}

.sort-buttons {
  display: flex;
  justify-content: space-between;
}
