@import '../../styles/common/colors';
@import '../../styles/common/mixins';

#app {
  padding: 5px;
}

.todo-form {
  background: $white;
  @include my-box-shadow;
  padding: 5px;
}

h1 {
  font-size: 7rem;
  font-weight: 200;
  letter-spacing: 5px;
  margin: 5px;
  text-align: center;
}

.sort-buttons {
  display: flex;
  justify-content: space-between;
}

.logout.btn-primary {
  background-color: #3c3938;
  border: #3c3938;
}

.logout.btn-primary.active.focus,
.logout.btn-primary.active:focus,
.logout.btn-primary.active:hover,
.logout.btn-primary:active.focus,
.logout.btn-primary:active:focus,
.logout.btn-primary:active:hover {
  background-color: #c4c0be;
  border: #c4c0be;
}
