.add-category-container {
  display: flex;
  align-items: center;
}

.add-category-container h2{
  font-weight: 300;
  margin-right: 10px;
}




.todo-wrapper {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#todo-input {
  flex-grow: 1;
  font-size: 2rem;
  padding-left: .5rem;
}